<html lang="pt-br">

<head>
    <%- include('head.ejs') %>
</head>

<body>
    <%- include('nav.ejs') %>

        <div class="container-fluid container-produto">
            <div class="row titulo">
                <div class="col-12">
                    <h1>Carrinho</h1>
                </div>
            </div>
            <div id="prods">
                <!--<div class="col-4">
                    <img class="imagemproduto" src="https://bucketgarb.s3.us-east-2.amazonaws.com/1/produto1.png" alt="produto1">
                </div>
                <div class="col-8">-->

                <!--  <div class="row produto">
                        <div class="col-md-12">
                            <p class="nomeproduto">Camiseta Nike</p>
                            <p class="cod">COD. 1</p>
                            <p class="quantidade">Qtnd: </p>
                            <select class="form-select selectqtn" aria-label="Disabled select example">
                                <option selected value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select><span class="material-icons delete">delete</span>
                            <p class="valor">R$ 159,99</p>
                            <p class="tamanho">Tam:
                                <a class="tamanhoproduto">M</a>
                            </p>
                        </div>
                    </div> -->
            </div>

            <div class="row">
                <div class="col-12">
                    <a href="/endereco" class="pagamento">Finalizar compra</a>
                </div>
            </div>
        </div>

        <%- include('footer.ejs') %>
            <script>
                consultarCarrinho();
                async function consultarCarrinho() {
                    const perfil = document.cookie
                        .split('; ')
                        .find(row => row.startsWith('jwt='))
                    const dados = jwt_decode(perfil);

                    const resposta = await fetch('./apiConsultaCarrinho?id=' + dados.sub);
                    const body = await resposta.json();
                    const carrinho = body.length;

                    let car = ''
                    for (i = 0; i <= carrinho - 1; i++) {
                        car += '<div class="row prod">'
                        car += '<div class="col-4">'
                        car += '<img class="imagemproduto" src="https://bucketgarb.s3.us-east-2.amazonaws.com/' + body[i].ID_produto + '/produto1.png" alt="produto1">'
                        car += '</div>'
                        car += '<div class="col-8">'
                        car += '<div class="row produto">'
                        car += '<div class="col-md-12">'
                        car += '<p class="nomeproduto">Camiseta Nike</p>'
                        car += '<p class="cod">COD. 1</p>'
                        car += '<p class="quantidade">Qtnd: </p>'
                        car += '<select class="form-select selectqtn" aria-label="Disabled select example">'
                        car += '<option selected value="1">1</option>'
                        car += '<option value="2">2</option>'
                        car += '<option value="3">3</option>'
                        car += '</select><span id=' + body[i].ID + ' class="material-icons delete" onclick=apagarItem(id);>delete</span>'
                        car += '<p class="valor">R$ 159,99</p>'
                        car += '<p class="tamanho">Tam:'
                        car += '<a class="tamanhoproduto"> ' + body[i].tamanho_produto + '</a>'
                        car += '</p>'
                        car += '</div>'
                        car += '</div>'
                        car += '</div>'
                        car += '</div>'
                    }
                    document.getElementById("prods").innerHTML = car;

                }

                async function apagarItem(id) {
                    try {
                        fetch('./apiDeletarItemCarrinho?ID=' + id, {
                            method: "POST",
                        })
                        window.location.reload();
                    } catch (error) {
                        console.log(error);
                    }
                }
            </script>

</body>