<html lang="pt-br">

<head>
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#181818" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#f3f3f3" />

    <!-- These meta tags are Apple-specific, and set the web application to run in full-screen mode with a black status bar. Learn more at https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="PWA Starter" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- This tag is used by the PWA Starter CLI to identify template projects. Don't remove if you are using the CLI. -->
    <meta name="pwa-starter-template-identity" content="pwa-starter" />
    <link rel="apple-touch-icon" href="images/logo1.png">
    <link rel="icon" sizes="196x196" href="images/logo1.png">

    <!--pwa-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <title>Pagina Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style/carrinho.css">
    <link rel="stylesheet" href="/css/style/nav.css">
    <link rel="stylesheet" href="/css/style/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>
    <%- include('nav.ejs') %>

        <div class="container-fluid container-produto">
            <div class="row titulo">
                <div class="col-12">
                    <h1>Carrinho</h1>
                </div>
            </div>
            <div id="prods">
                <!--<div class="col-4">
                    <img class="imagemproduto" src="https://bucketgarb.s3.us-east-2.amazonaws.com/1/produto1.png" alt="produto1">
                </div>
                <div class="col-8">-->

                <!--  <div class="row produto">
                        <div class="col-md-12">
                            <p class="nomeproduto">Camiseta Nike</p>
                            <p class="cod">COD. 1</p>
                            <p class="quantidade">Qtnd: </p>
                            <select class="form-select selectqtn" aria-label="Disabled select example">
                                <option selected value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                              </select><span class="material-icons delete">delete</span>
                            <p class="valor">R$ 159,99</p>
                            <p class="tamanho">Tam:
                                <a class="tamanhoproduto">M</a>
                            </p>
                        </div>
                    </div> -->
            </div>
        </div>
        </div>

        <%- include('footer.ejs') %>
            <script>
                consultarCarrinho();
                async function consultarCarrinho() {
                    const perfil = document.cookie
                        .split('; ')
                        .find(row => row.startsWith('jwt='))
                    const dados = jwt_decode(perfil);

                    const resposta = await fetch('./apiConsultaCarrinho?id=' + dados.sub);
                    const body = await resposta.json();
                    const carrinho = Object.keys(body).length;

                    let car = ''
                    for (i = 1; i <= carrinho; i++) {
                        car += '<div class="row prod">'
                        car += '<div class="col-4">'
                        car += '<img class="imagemproduto" src="https://bucketgarb.s3.us-east-2.amazonaws.com/' + body["item" + i].ID_produto + '/produto1.png" alt="produto1">'
                        car += '</div>'
                        car += '<div class="col-8">'
                        car += '<div class="row produto">'
                        car += '<div class="col-md-12">'
                        car += '<p class="nomeproduto">Camiseta Nike</p>'
                        car += '<p class="cod">COD. 1</p>'
                        car += '<p class="quantidade">Qtnd: </p>'
                        car += '<select class="form-select selectqtn" aria-label="Disabled select example">'
                        car += '<option selected value="1">1</option>'
                        car += '<option value="2">2</option>'
                        car += '<option value="3">3</option>'
                        car += '</select><span class="material-icons delete">delete</span>'
                        car += '<p class="valor">R$ 159,99</p>'
                        car += '<p class="tamanho">Tam:'
                        car += '<a class="tamanhoproduto">M</a>'
                        car += '</p>'
                        car += '</div>'
                        car += '</div>'
                        car += '</div>'
                        car += '</div>'
                    }
                    document.getElementById("prods").innerHTML = car;

                }
            </script>

</body>