<footer class="footer navbar-fixed-bottom">
    <div class="container">
        <div class="row linhaquemsomos">
            <div class="col-sm-6 col-md-4">
                <ul>
                    <li>
                        <h2>SOBRE NÓS</h2>
                    </li>
                    <li><a class="quemsomos">Quem somos</a></li>
                    <li><a class="quemsomos">Quem é a Duckintosh</a></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4">
                <ul>
                    <li>
                        <h2>AJUDA</h2>
                    </li>
                    <li><a class="quemsomos">Como podemos ajudar?</a></li>
                    <li><a class="quemsomos">Suporte Whatsapp</a></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>©2023 EL Imports. Desenvolvido por Duckintosh System Developer. Todos os direitos reservados</p>
            </div>
        </div>
    </div>
</footer>