<html lang="pt-br">

<head>
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#181818" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#f3f3f3" />

    <!-- These meta tags are Apple-specific, and set the web application to run in full-screen mode with a black status bar. Learn more at https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="PWA Starter" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- This tag is used by the PWA Starter CLI to identify template projects. Don't remove if you are using the CLI. -->
    <meta name="pwa-starter-template-identity" content="pwa-starter" />
    <link rel="apple-touch-icon" href="images/logo1.png">
    <link rel="icon" sizes="196x196" href="images/logo1.png">

    <!--pwa-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <title>Pagina Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style/index.css">
    <link rel="stylesheet" href="/css/style/nav.css">
    <link rel="stylesheet" href="/css/style/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js')
                .then(function() {
                    console.log('service worker registered');
                })
                .catch(function() {
                    console.warn('service worker failed');
                });
        }
    </script>
    <%- include('nav.ejs') %>
        <div class="container-fluid folder">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div data-bs-interval="500" id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/images/folder1.png" alt="First slide">
                            </div>
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="/images/folder2.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="/images/folder1.png" alt="Third slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row descontos">
                <div class="col-sm-12 col-md-12 col-12">
                    <p>Destaques</p>
                </div>
            </div>
            <div class="row fotosDescontos">
                <div class="col-sm-12 col-md-12">
                    <ul id="destaque">

                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row ofertas">
                <div class="col-sm-12 col-md-12 col-12">
                    <p>Ofertas</p>
                </div>
            </div>
            <div class="row fotosOfertas">
                <div class="col-sm-12 col-md-12">
                    <ul id="ofertas">

                    </ul>
                </div>
            </div>
        </div>



        <%- include('footer.ejs') %>

            <script>
                destaque()
                ofertas()
                async function destaque() {
                    const resposta = await fetch('./apiDestaqueProduto');
                    const body = await resposta.json();
                    const tam = body.length;

                    let des = '';
                    for (let i = 0; i <= tam - 1; i++) {
                        var float = parseFloat(body[i].preco_produto.toFixed(2));
                        // console.log(float);
                        var preco = float.toLocaleString('pt-br', {
                            minimumFractionDigits: 2
                        }); // FORMATA O PREÇO DE INT PARA MOEDA BR

                        des += '<li>'
                        des += '<a class="prod" href="/produto?id=' + body[i].ID + '">'
                        des += '<img src="https://bucketgarb.s3.us-east-2.amazonaws.com/' + body[i].ID + '/produto1.png" width="250px" height="250px" alt="modelo1">'
                        des += '<p class="codProduto">CÓD. ' + body[i].ID + '</p>'
                        des += '<h2 class="nomeDestaque">' + body[i].nome_produto + '</h2>'
                        des += '<p class="precoDestaque">R$ ' + preco + '</p>'
                        if (body[i].desconto_produto != 0) {
                            des += '<p class="descontoproduto">' + body[i].desconto_produto + '% off</p>';
                        }
                        des += '</a>'
                        des += '</li>'
                    }
                    document.getElementById('destaque').innerHTML = des;
                }

                async function ofertas() {
                    const resposta = await fetch('./apiOfertas');
                    const body = await resposta.json();
                    const tam = body.length;

                    let ofertas = '';
                    for (let i = 0; i <= tam - 1; i++) {
                        var float = parseFloat(body[i].preco_produto.toFixed(2));
                        // console.log(float);
                        var preco = float.toLocaleString('pt-br', {
                            minimumFractionDigits: 2
                        }); // FORMATA O PREÇO DE INT PARA MOEDA BR

                        ofertas += '<li>'
                        ofertas += '<a class="prod" href="/produto?id=' + body[i].ID + '">'
                        ofertas += '<img src="https://bucketgarb.s3.us-east-2.amazonaws.com/' + body[i].ID + '/produto1.png" width="250px" height="250px" alt="modelo1">'
                        ofertas += '<p class="codProduto">CÓD. ' + body[i].ID + '</p>'
                        ofertas += '<h2 class="nomeDestaque">' + body[i].nome_produto + '</h2>'
                        ofertas += '<p class="precoDestaque">R$ ' + preco + '</p>'
                        ofertas += '<p class="descontoproduto">ou ' + body[i].desconto_produto + '% off à vista</p>'
                        ofertas += '</a>'
                        ofertas += '</li>'
                    }
                    document.getElementById('ofertas').innerHTML = ofertas;
                }
            </script>
</body>