<!--<nav class="nav">
    <div class="container menu">
        <div class="row">
            <div class=" col-2 logo">
                <img src="/images/logo.png" width="50">
            </div>
            <div class="col-10 auto main_list" id="mainListDiv">
                <ul class="principalMenu">
                    <li><a href="/produtos">Inicio</a></li>
                    <li>
                        <a href="/usuarios">Masculino</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/cadastro">Feminino</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/produtos">Infantil</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10 menuMobile">
                <div>
                    <button>Menu</button>
                    <ul>
                        <li><a href="/produtos">Inicio</a></li>
                        <li>
                            <a href="/usuarios">Masculino</a>
                        </li>
                        <li>
                            <a href="/usuarios">Feminino</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

!-->

<div class="nav">
    <div class="container-fluid menu">
        <div class="row menuDesktop">
            <div class="col-sm-2 col-md-3 col-4 logo">
                <a href="/"><img src="/images/logo1.png" width="75px" alt=""></a>
            </div>
            <div class="col-6 auto main_list" id="mainListDiv">
                <ul class="principalMenu">
                    <li><a href="/">Inicio</a></li>
                    <li>
                        <a href="/produtos?categoria=Masculino">Masculino</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/produtos?categoria=Feminino">Feminino</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/produtos?categoria=Infantil">Infantil</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-1 car">
                <a href="/carrinho"><span class="material-icons">shopping_cart</span></a>
            </div>
            <div class="col-1 car">
                <a href="/perfil"><span class="material-icons">person</span></a>
            </div>
        </div>
        <div class="row menuSmartphone">
            <div class="col-4">
                <div class="iconeMenu">
                    <span onclick="abrirMenu();" class="material-icons">
                        menu
                    </span>
                </div>
                <div>
                    <ul id="menuMobile" class="menuMobile">
                        <li onclick="fecharMenu();"><span class="material-icons">
                            close
                            </span></li>
                        <li><a href="/">Inicio</a></li>
                        <li>
                            <a href="/produtos?categoria=Masculino">Masculino</a>
                        </li>
                        <li>
                            <a href="/produtos?categoria=Feminino">Feminino</a>
                        </li>
                        <li>
                            <a href="/produtos?categoria=Infantil">Infantil</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4 logo">
                <a href="/"><img src="/images/logo1.png" width="75px" alt=""></a>
            </div>
            <div class="col-2 car">
                <a href="/carrinho"><span class="material-icons">shopping_cart</span></a>
            </div>
            <div class="col-2 car">
                <a href="/perfil"><span class="material-icons">person</span></a>
            </div>
        </div>
    </div>
    <script>
        function abrirMenu() {
            var menu = document.getElementById("menuMobile");
            menu.style.left = "0";
        }

        function fecharMenu() {
            var menu = document.getElementById("menuMobile");
            menu.style.left = "-30em";
        }
    </script>
</div>