<nav class="nav">
    <div class="container">
        <div class="row">
            <div class=" col-2 logo">
                <img src="/images/logo.png" width="50">
            </div>
            <div class="col-10 auto main_list" id="mainListDiv">
                <ul class="principalMenu">
                    <li><a href="#">Inicio</a></li>
                    <li>
                        <a href="/usuarios">Masculino</a>
                        <ul class="submenu">
                            <li><a href="#">Calças</a></li>
                            <li><a href="#">Blusas</a></li>
                            <li><a href="#">Camisetas</a></li>
                            <li><a href="#">Meias</a></li>
                            <li><a href="#">Camisas de Time</a></li>
                            <li><a href="#">Shorts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/cadastro">Feminino</a>
                        <ul class="submenu">
                            <li><a href="#">Calças</a></li>
                            <li><a href="#">Blusas</a></li>
                            <li><a href="#">Camisetas</a></li>
                            <li><a href="#">Meias</a></li>
                            <li><a href="#">Camisas de Time</a></li>
                            <li><a href="#">Shorts</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Infantil</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>