<!--<nav class="nav">
    <div class="container menu">
        <div class="row">
            <div class=" col-2 logo">
                <img src="/images/logo.png" width="50">
            </div>
            <div class="col-10 auto main_list" id="mainListDiv">
                <ul class="principalMenu">
                    <li><a href="/produtos">Inicio</a></li>
                    <li>
                        <a href="/usuarios">Masculino</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/cadastro">Feminino</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/produtos">Infantil</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10 menuMobile">
                <div>
                    <button>Menu</button>
                    <ul>
                        <li><a href="/produtos">Inicio</a></li>
                        <li>
                            <a href="/usuarios">Masculino</a>
                        </li>
                        <li>
                            <a href="/usuarios">Feminino</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

<div class="nav">
    <div class="container-fluid menu">
        <div class="row menuDesktop">
            <div class="col-sm-2 col-md-3 col-4 logo">
                <a href="/"><img src="/images/logo1.png" width="75px" alt=""></a>
            </div>
            <div class="col-6 auto main_list" id="mainListDiv">
                <ul class="principalMenu">
                    <li><a href="/">Inicio</a></li>
                    <li>
                        <a href="/produtos?categoria=Masculino">Masculino</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/produtos?categoria=Feminino">Feminino</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/produtos?categoria=Infantil">Infantil</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-1 car">
                <a href="/carrinho"><span class="material-icons">shopping_cart</span></a>
            </div>
            <div class="col-1 perfil" id="imagemperfil">
                <a onclick="modal();"><span class="material-icons">person</span></a>
                <div class="botaologin" id="botaologin">
                    <span class="material-icons fecharabaperfillogin" onclick="fecharabaperfillogin();"> close</span>
                    <div id="buttonDiv"></div>
                </div>
            </div>
        </div>
        <div class="row menuSmartphone">
            <div class="col-4">
                <div class="iconeMenu">
                    <span onclick="abrirMenu();" class="material-icons">
                        menu
                    </span>
                </div>
                <div>
                    <ul id="menuMobile" class="menuMobile">
                        <li onclick="fecharMenu();"><span class="material-icons">
                            close
                            </span></li>
                        <li><a href="/">Inicio</a></li>
                        <li>
                            <a href="/produtos?categoria=Masculino">Masculino</a>
                        </li>
                        <li>
                            <a href="/produtos?categoria=Feminino">Feminino</a>
                        </li>
                        <li>
                            <a href="/produtos?categoria=Infantil">Infantil</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4 logo">
                <a href="/"><img src="/images/logo1.png" width="75px" alt=""></a>
            </div>
            <div class="col-2 car">
                <a href="/carrinho"><span class="material-icons">shopping_cart</span></a>
            </div>
            <div class="col-2 car" id="imagemperfilmobile">
                <a><span class="material-icons" onclick="loginmobile();">person</span></a>
                <div class="botaologinmobile" id="botaologinmobile">
                    <span class="material-icons fecharabaperfilmobile" onclick="fecharbotaoperfilmobile();"> close</span>
                    <div id="buttonPerfil"></div>
                </div>
            </div>
        </div>


    </div>
    <script>
        function modal() {
            const loginbutton = document.getElementById("botaologin");
            loginbutton.style.opacity = 1;

            google.accounts.id.initialize({
                client_id: "934034386239-ta9j7876q2qpnghkcjp4ojfrlsq44vvf.apps.googleusercontent.com",
                callback: handleCredentialResponse
            });

            google.accounts.id.renderButton(
                document.getElementById("buttonDiv"), {
                    theme: "filled_black",
                    size: "large",
                    type: "standard",
                    shape: "circle",
                    locale: "pt-BR",
                    logo_alignment: "left",
                } // customization attributes
            );

            // google.accounts.id.prompt(); // also display the One Tap dialog
        }

        function loginmobile() {
            const loginbutton = document.getElementById("botaologinmobile");
            loginbutton.style.opacity = 1;
            google.accounts.id.initialize({
                client_id: "934034386239-ta9j7876q2qpnghkcjp4ojfrlsq44vvf.apps.googleusercontent.com",
                callback: handleCredentialResponse
            });

            google.accounts.id.renderButton(
                document.getElementById("buttonPerfil"), {
                    theme: "filled_black",
                    size: "large",
                    type: "standard",
                    shape: "circle",
                    locale: "pt-BR",
                    logo_alignment: "left",
                } // customization attributes
            );

        }

        function handleCredentialResponse(response) {

            // O DATA EXTRAI O JWT E RETORNA OS DADOS DO USUARIO
            const data = jwt_decode(response.credential)
                // CRIA O COOKIE PARA MANTER O JWT
            Cookies.set('jwt', response.credential, {
                expires: 0.1
            });
            // ABRE MODAL PARA LOGIN
            $("#myModal").modal("hide");

            let perfil = '';
            perfil += '<img src="' + data.picture + '"" alt="" width="150px" height="150px" onclick=meuperfil();>'
            perfil += '<div class="abaperfil" id="abaperfil">'
            perfil += '<a href="/perfil">Meu Perfil</a>'
            perfil += '<a href="" onclick=fecharlogin();>Sair</a>'
            perfil += '<span class="material-icons fecharperfil" onclick=fecharabaperfil();>close</span>'
            perfil += '</div>'

            document.getElementById('imagemperfil').innerHTML = perfil
            document.getElementById('imagemperfilmobile').innerHTML = perfil
        }

        function abrirMenu() {
            var menu = document.getElementById("menuMobile");
            menu.style.left = "0";
        }

        function fecharMenu() {
            var menu = document.getElementById("menuMobile");
            menu.style.left = "-30em";
        }

        verificarlogin();

        /// FUNCAO VERIFICA SE O COOKIE JWT ESTA COM OS DADOS E  MANTEM O LOGIN
        function verificarlogin() {
            const perfil = document.cookie
                .split('; ')
                .find(row => row.startsWith('jwt='))

            if (perfil != undefined) {
                const perfil = document.cookie
                    .split('; ')
                    .find(row => row.startsWith('jwt='))
                    .split('=')[1];

                const data = jwt_decode(perfil);

                let perfilaba = '';
                perfilaba += '<img src="' + data.picture + '"" alt="" width="150px" height="150px" onclick=meuperfil();>'
                perfilaba += '<div class="abaperfil" id="abaperfil">'
                perfilaba += '<a href="/perfil">Meu Perfil</a>'
                perfilaba += '<a href="" onclick=fecharlogin();>Sair</a>'
                perfilaba += '<span class="material-icons fecharperfil" onclick=fecharabaperfil();>close</span>'
                perfilaba += '</div>'


                let perfilabamobile = '';
                perfilabamobile += '<img src="' + data.picture + '"" alt="" width="150px" height="150px" onclick=meuperfilmobile();>'
                perfilabamobile += '<div class="abaperfil" id="abaperfilmobile">'
                perfilabamobile += '<a href="/perfil">Meu Perfil</a>'
                perfilabamobile += '<a href="" onclick=fecharlogin();>Sair</a>'
                perfilabamobile += '<span class="material-icons fecharperfil" onclick=fecharabaperfilmobile();>close</span>'
                perfilabamobile += '</div>'

                document.getElementById('imagemperfil').innerHTML = perfilaba
                document.getElementById('imagemperfilmobile').innerHTML = perfilabamobile
            }
        }

        function meuperfil() {
            var abaperfil = document.getElementById("abaperfil");
            abaperfil.style.opacity = 1;
        }

        function meuperfilmobile() {
            var abaperfil = document.getElementById("abaperfilmobile");
            abaperfil.style.opacity = 1;
        }

        function fecharlogin() {
            google.accounts.id.disableAutoSelect();
            Cookies.remove('jwt')
            document.location.reload(true);
        }

        function fecharabaperfil() {
            var abaperfil = document.getElementById("abaperfil");
            abaperfil.style.opacity = 0;
        }

        function fecharabaperfilmobile() {
            var abaperfil = document.getElementById("abaperfilmobile");
            abaperfil.style.opacity = 0;
        }

        function fecharbotaoperfilmobile() {
            const loginbutton = document.getElementById("botaologinmobile");
            loginbutton.style.opacity = 0;
        }

        function fecharabaperfillogin() {
            const loginbutton = document.getElementById("botaologin");
            loginbutton.style.opacity = 0;
        }
    </script>
</div>