<!--<nav class="nav">
    <div class="container menu">
        <div class="row">
            <div class=" col-2 logo">
                <img src="/images/logo.png" width="50">
            </div>
            <div class="col-10 auto main_list" id="mainListDiv">
                <ul class="principalMenu">
                    <li><a href="/produtos">Inicio</a></li>
                    <li>
                        <a href="/usuarios">Masculino</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/cadastro">Feminino</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/produtos">Infantil</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-10 menuMobile">
                <div>
                    <button>Menu</button>
                    <ul>
                        <li><a href="/produtos">Inicio</a></li>
                        <li>
                            <a href="/usuarios">Masculino</a>
                        </li>
                        <li>
                            <a href="/usuarios">Feminino</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

<div class="nav">
    <div class="container-fluid menu">
        <div class="row menuDesktop">
            <div class="col-sm-2 col-md-3 col-4 logo">
                <a href="/"><img src="/images/logo1.png" width="75px" alt=""></a>
            </div>
            <div class="col-6 auto main_list" id="mainListDiv">
                <ul class="principalMenu">
                    <li><a href="/">Inicio</a></li>
                    <li>
                        <a href="/produtos?categoria=Masculino">Masculino</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/produtos?categoria=Feminino">Feminino</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/produtos?categoria=Infantil">Infantil</a>
                        <ul class="submenu">
                            <li><a href="/produtos">Calças</a></li>
                            <li><a href="/produtos">Blusas</a></li>
                            <li><a href="/produtos">Camisetas</a></li>
                            <li><a href="/produtos">Meias</a></li>
                            <li><a href="/produtos">Shorts</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-1 car">
                <a href="/carrinho"><span class="material-icons">shopping_cart</span></a>
            </div>
            <div class="col-1 perfil" id="imagemperfil">
                <a onclick="modal();"><span class="material-icons">person</span></a>
                <div class="botaologin" id="botaologin">
                    <span class="material-icons fecharabaperfillogin" onclick="fecharabaperfillogin();"> close</span>
                    <div id="buttonDiv"></div>
                </div>
            </div>
        </div>
        <div class="row menuSmartphone">
            <div class="col-4">
                <div class="iconeMenu">
                    <span onclick="abrirMenu();" class="material-icons">
                        menu
                    </span>
                </div>
                <div>
                    <ul id="menuMobile" class="menuMobile">
                        <li onclick="fecharMenu();"><span class="material-icons">
                            close
                            </span></li>
                        <li><a href="/">Inicio</a></li>
                        <li>
                            <a href="/produtos?categoria=Masculino">Masculino</a>
                        </li>
                        <li>
                            <a href="/produtos?categoria=Feminino">Feminino</a>
                        </li>
                        <li>
                            <a href="/produtos?categoria=Infantil">Infantil</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4 logo">
                <a href="/"><img src="/images/logo1.png" width="75px" alt=""></a>
            </div>
            <div class="col-2 car">
                <a href="/carrinho"><span class="material-icons">shopping_cart</span></a>
            </div>
            <div class="col-2 car" id="imagemperfilmobile">
                <a><span class="material-icons" onclick="loginmobile();">person</span></a>
                <div class="botaologinmobile" id="botaologinmobile">
                    <span class="material-icons fecharabaperfilmobile" onclick="fecharbotaoperfilmobile();"> close</span>
                    <div id="buttonPerfil"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="containerFormulario">
        <form class="form">
            <h2>PREENCHA SUAS INFORMAÇÕES</h2>
            <p type="CPF:"><input id="cpf" type="text" placeholder="Digite seu CPF:" required></input>
            </p>
            <p type="DATA DE NASCIMENTO:"><input id="data" placeholder="Digite sua data de nascimento: dd/mm/aaaa" required></input>
            </p>
            <p type="TELEFONE:"><input id="telefone" type="tel" placeholder="Digite seu número:" required></input>
            </p>
            <h3>DADOS DE ENDEREÇO</h3>
            <p type="Rua:"><input id="rua" placeholder="Digite o nome de sua rua:" required></input>
            </p>
            <p type="Número:"><input id="numero" placeholder="Digite o número de sua residência:" required></input>
            </p>
            <p type="CEP:"><input id="cep" type="text" placeholder="Digite seu CEP:" required onkeypress="buscarcep(value);" onChange="buscarcep(value);"></input>
            </p>
            <p type="Cidade:"><input id="cidade" placeholder="Cidade:" required disabled=""></input>
            </p>
            <p type="UF:"><input id="uf" placeholder="UF:" required></input>
            </p>
            <button class="cancelar" onclick="fecharlogin();">Cancelar</button>
            <button class="cadastrar" onclick="validarCadastro();">Cadastrar</button>
        </form>
    </div>
</div>
<script src="/js/front/nav.js"></script>
<script src="/js/jquery.mask.js"></script>
<script>
    function fecharlogin() {
        google.accounts.id.disableAutoSelect();
        Cookies.remove('jwt')
        document.location.reload(true);
    }

    function modal() {
        const loginbutton = document.getElementById("botaologin");
        loginbutton.style.opacity = 1;

        google.accounts.id.initialize({
            client_id: "934034386239-ta9j7876q2qpnghkcjp4ojfrlsq44vvf.apps.googleusercontent.com",
            callback: handleCredentialResponse
        });

        google.accounts.id.renderButton(
            document.getElementById("buttonDiv"), {
                theme: "filled_black",
                size: "large",
                type: "standard",
                shape: "circle",
                locale: "pt-BR",
                logo_alignment: "left",
            } // customization attributes
        );

        // google.accounts.id.prompt(); // also display the One Tap dialog
    }

    function loginmobile() {
        const loginbutton = document.getElementById("botaologinmobile");
        loginbutton.style.opacity = 1;
        google.accounts.id.initialize({
            client_id: "934034386239-ta9j7876q2qpnghkcjp4ojfrlsq44vvf.apps.googleusercontent.com",
            callback: handleCredentialResponse
        });

        google.accounts.id.renderButton(
            document.getElementById("buttonPerfil"), {
                theme: "filled_black",
                size: "large",
                type: "standard",
                shape: "circle",
                locale: "pt-BR",
                logo_alignment: "left",
            } // customization attributes
        );

    }

    function handleCredentialResponse(response) {

        // O DATA EXTRAI O JWT E RETORNA OS DADOS DO USUARIO
        const data = jwt_decode(response.credential)
            // CRIA O COOKIE PARA MANTER O JWT
        console.log(data);
        Cookies.set('jwt', response.credential, {
            expires: 0.1
        });


        let perfil = '';
        perfil += '<img src="' + data.picture + '"" alt="" width="150px" height="150px" onclick=meuperfil();>'
        perfil += '<div class="abaperfil" id="abaperfil">'
        perfil += '<a href="/perfil">Meu Perfil</a>'
        perfil += '<a href="" onclick=fecharlogin();>Sair</a>'
        perfil += '<span class="material-icons fecharperfil" onclick=fecharabaperfil();>close</span>'
        perfil += '</div>'


        let perfilabamobile = '';
        perfilabamobile += '<img src="' + data.picture + '"" alt="" width="150px" height="150px" onclick=meuperfilmobile();>'
        perfilabamobile += '<div class="abaperfil" id="abaperfilmobile">'
        perfilabamobile += '<a href="/perfil">Meu Perfil</a>'
        perfilabamobile += '<a href="" onclick=fecharlogin();>Sair</a>'
        perfilabamobile += '<span class="material-icons fecharperfil" onclick=fecharabaperfilmobile();>close</span>'
        perfilabamobile += '</div>'

        document.getElementById('imagemperfil').innerHTML = perfil
        document.getElementById('imagemperfilmobile').innerHTML = perfilabamobile

        verificarCliente(data.sub);
    }

    verificarlogin();

    /// FUNCAO VERIFICA SE O COOKIE JWT ESTA COM OS DADOS E  MANTEM O LOGIN
    function verificarlogin() {
        const perfil = document.cookie
            .split('; ')
            .find(row => row.startsWith('jwt='))

        if (perfil != undefined) {
            const perfil = document.cookie
                .split('; ')
                .find(row => row.startsWith('jwt='))
                .split('=')[1];

            const data = jwt_decode(perfil);
            console.log(data);

            let perfilaba = '';
            perfilaba += '<img src="' + data.picture + '"" alt="" width="150px" height="150px" onclick=meuperfil();>'
            perfilaba += '<div class="abaperfil" id="abaperfil">'
            perfilaba += '<a href="/perfil">Meu Perfil</a>'
            perfilaba += '<a href="" onclick=fecharlogin();>Sair</a>'
            perfilaba += '<span class="material-icons fecharperfil" onclick=fecharabaperfil();>close</span>'
            perfilaba += '</div>'


            let perfilabamobile = '';
            perfilabamobile += '<img src="' + data.picture + '"" alt="" width="150px" height="150px" onclick=meuperfilmobile();>'
            perfilabamobile += '<div class="abaperfil" id="abaperfilmobile">'
            perfilabamobile += '<a href="/perfil">Meu Perfil</a>'
            perfilabamobile += '<a href="" onclick=fecharlogin();>Sair</a>'
            perfilabamobile += '<span class="material-icons fecharperfil" onclick=fecharabaperfilmobile();>close</span>'
            perfilabamobile += '</div>'

            document.getElementById('imagemperfil').innerHTML = perfilaba
            document.getElementById('imagemperfilmobile').innerHTML = perfilabamobile
        }
    }



    async function verificarCliente(id) {
        const resposta = await fetch('./apiBuscaCliente?id=' + id);
        const body = await resposta.json();
        if (body.length == 0) {
            abrirCadastro();
        } else {
            return
        }
    }

    function abrirCadastro() {
        const modal = document.getElementById("containerFormulario");
        modal.style.opacity = 1;
        modal.style.zIndex = 9;
    }

    $(document).ready(function() {
        $('#cpf').mask('000.000.000-00');
        $('#data').mask('00/00/0000');
        $('#telefone').mask('(00)00000-0000');
        $('#numero').mask('###0');
        $('#cep').mask('00000-000');
    });

    async function validarCadastro() {
        const cpf = document.getElementById("cpf");
        const data = document.getElementById("data");
        const telefone = document.getElementById("telefone");
        const rua = document.getElementById("rua");
        const numero = document.getElementById("numero");
        const cep = document.getElementById("cep")
        const cidade = document.getElementById("cidade");
        const uf = document.getElementById("uf");

        if (cpf.value == "") {
            cpf.style.setProperty("--color", "red");
            cpf.style.borderBottom = "2px solid red";
        } else {
            cpf.style.setProperty("--color", "white");
            cpf.style.borderBottom = "2px solid white";
        }
        if (data.value == "") {
            data.style.setProperty("--color", "red");
            data.style.borderBottom = "2px solid red";
        } else {
            data.style.setProperty("--color", "white");
            data.style.borderBottom = "2px solid white";
        }
        if (telefone.value == "") {
            telefone.style.setProperty("--color", "red");
            telefone.style.borderBottom = "2px solid red";
        } else {
            telefone.style.setProperty("--color", "white");
            telefone.style.borderBottom = "2px solid white";
        }
        if (rua.value == "") {
            rua.style.setProperty("--color", "red");
            rua.style.borderBottom = "2px solid red";
        } else {
            rua.style.setProperty("--color", "white");
            rua.style.borderBottom = "2px solid white";
        }
        if (numero.value == "") {
            numero.style.setProperty("--color", "red");
            numero.style.borderBottom = "2px solid red";
        } else {
            numero.style.setProperty("--color", "white");
            numero.style.borderBottom = "2px solid white";
        }
        if (cep.value == "") {
            cep.style.setProperty("--color", "red");
            cep.style.borderBottom = "2px solid red";
        } else {
            cep.style.setProperty("--color", "white");
            cep.style.borderBottom = "2px solid white";
        }
        if (cidade.value == "") {
            cidade.style.setProperty("--color", "red");
            cidade.style.borderBottom = "2px solid red";
        } else {
            cidade.style.setProperty("--color", "white");
            cidade.style.borderBottom = "2px solid white";
        }
        if (uf.value == "") {
            uf.style.setProperty("--color", "red");
            uf.style.borderBottom = "2px solid red";
        } else {
            uf.style.setProperty("--color", "white");
            uf.style.borderBottom = "2px solid white";
        }

    }
    async function buscarcep(cep) {
        const ceplimpo = cep.replace(/[^0-9]+/, '');

        const url = 'https://viacep.com.br/ws/' + ceplimpo + '/json/';
        const resposta = await fetch(url);
        const body = await resposta.json();

        document.getElementById("cidade").value = body.localidade;
        document.getElementById("uf").value = body.uf;
    }
    async function criarCliente() {
        const perfil = document.cookie
            .split('; ')
            .find(row => row.startsWith('jwt='))
        const dados = jwt_decode(perfil);

        try {

            const data = {
                ID: dados.sub,
                email: dados.email,
                nome: dados.name,
                idade: "23",
            };

            fetch('./apiCriarCliente', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                })
                .then((response) => response.json())
                //.then(response => console.log(response.status))
                .then((data) => {
                    console.log("retorno front: " + JSON.stringify(data))
                })

        } catch (error) {
            console.log(error);
        }
    }
</script>
</div>