<html lang="pt-br">

<head>
    <!-- These meta tags are Apple-specific, and set the web application to run in full-screen mode with a black status bar. Learn more at https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="PWA Starter" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- This tag is used by the PWA Starter CLI to identify template projects. Don't remove if you are using the CLI. -->
    <meta name="pwa-starter-template-identity" content="pwa-starter" />
    <link rel="apple-touch-icon" href="images/logo1.png">
    <link rel="icon" sizes="196x196" href="images/logo1.png">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Home</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style/produto.css">
    <link rel="stylesheet" href="/css/style/nav.css">
    <link rel="stylesheet" href="/css/style/footer.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

</head>

<body>
    <%- include('nav.ejs') %>
        <section>
            <div class="container produto">
                <div class="row loader" id="loader">
                    <div class="c-loader"></div>
                </div>
                <div class="row">
                    <nav aria-label="Links visitados">
                        <ol class="Breadcrumb-styled__List-sc-bfc9ea9f-0 ickcoV">
                            <li><a href="/produtos">Masculino</a><svg data-testid="ArrowRightIcon" aria-hidden="true"
                                    version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor" viewBox="0 0 24 24"
                                    class="SvgIcon__Icon-sc-9dg20d-0 SvgIcon-sc-9dg20d-1 ClUqg sUzXt">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M16 12.0027C15.9993 12.2533 15.9065 12.4822 15.7537 12.6573L9.76541 19.6436C9.58197 19.8615 9.30716 20 9 20C8.44772 20 8 19.5523 8 19C8 18.7515 8.09067 18.5241 8.24075 18.3492L13.6829 12L8.24631 5.65725C8.09292 5.4815 8 5.2516 8 5C8 4.44771 8.44772 4 9 4C9.30374 4 9.57586 4.13542 9.75926 4.34917L15.7593 11.3492L15.7653 11.3563C15.9106 11.5289 15.9986 11.7512 16 11.9941L16 12L16 12.0027Z">
                                    </path>
                                </svg></li>
                            <li><a href="/produtos">Roupas</a><svg data-testid="ArrowRightIcon" aria-hidden="true"
                                    version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor" viewBox="0 0 24 24"
                                    class="SvgIcon__Icon-sc-9dg20d-0 SvgIcon-sc-9dg20d-1 ClUqg sUzXt">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M16 12.0027C15.9993 12.2533 15.9065 12.4822 15.7537 12.6573L9.76541 19.6436C9.58197 19.8615 9.30716 20 9 20C8.44772 20 8 19.5523 8 19C8 18.7515 8.09067 18.5241 8.24075 18.3492L13.6829 12L8.24631 5.65725C8.09292 5.4815 8 5.2516 8 5C8 4.44771 8.44772 4 9 4C9.30374 4 9.57586 4.13542 9.75926 4.34917L15.7593 11.3492L15.7653 11.3563C15.9106 11.5289 15.9986 11.7512 16 11.9941L16 12L16 12.0027Z">
                                    </path>
                                </svg></li>
                            <li id="subcat"></li>
                        </ol>
                    </nav>
                </div>
                <div class="row linhaProduto" id="prods">
                    <div class="col-md-8">
                        <ul class="produto" id="fotoProduto">
                            <!--<li>
                                <a href="images/clippersFrente.png"></a>
                                <img src="/images/clippersFrente.png" alt="" width="400px" height="450px">
                            </li>-->
                        </ul>
                    </div>
                    <div class="col-md-4 descricao">
                        <p id="subcategoria"></p>
                        <h1 id="nome"></h1>
                        <h2 id="preco"></h2>
                        <p id="desconto"></p>
                        <h3 id="parcelamento"></h3>
                        <div class="row selectTamanho">
                            <div class="col-md-5 col-sm-12" id="divPP">
                                <span class="tamanhos" id="tamanhopp">
                                    <label for="pp" class="tam">
                                        <input id="pp" type="radio" name="size" data-testid="product-size-PP"
                                            class="TextBox__VisuallyHiddenInput-sc-4fb91f0d-2 tamprod" value="tamanhopp"
                                            onclick="selecionado(id)">
                                        PP
                                    </label>
                                </span>
                            </div>
                            <div class="col-md-5 col-sm-12" id="divP">
                                <span class="tamanhos" id="tamanhop">
                                    <label for="p" class="tam">
                                        <input id="p" type="radio" name="size" data-testid="product-size-p"
                                            class="TextBox__VisuallyHiddenInput-sc-4fb91f0d-2 tamprod" value="tamanhop"
                                            onclick="selecionado(id)">
                                        P
                                    </label>
                                </span>
                            </div>
                            <div class="col-md-5 col-sm-12" id="divM">
                                <span class="tamanhos" id="tamanhom">
                                    <label for="m">
                                        <input id="m" type="radio" name="size" data-testid="product-size-m"
                                            class="TextBox__VisuallyHiddenInput-sc-4fb91f0d-2 tamprod" value="tamanhom"
                                            onclick="selecionado(id)">
                                        M
                                    </label>
                                </span>
                            </div>
                            <div class="col-md-5 col-sm-12" id="divG">
                                <span class="tamanhos" id="tamanhog">
                                    <label for="g">
                                        <input id="g" type="radio" name="size" data-testid="product-size-g"
                                            class="TextBox__VisuallyHiddenInput-sc-4fb91f0d-2 tamprod" value="tamanhog"
                                            onclick="selecionado(id)">
                                        G
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="row linhaComprar">
                            <div class="col-md-10">
                                <a class="addcarrinho" onclick="adicionarCarrinho();">ADICIONAR AO CARRINHO</a>
                            </div>
                            <div class="col-md-10" style="margin-top: 3em;">
                                <a class="comprar" href="/carrinho">COMPRAR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('footer.ejs') %>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js "
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk " crossorigin="anonymous ">
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js "
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK " crossorigin="anonymous ">
    </script>
<script src="/js/bootstrap.min.js "></script>

<script>
    function selecionado(valor) {
        var set = document.getElementsByClassName("selecionado");
        if (set.length != 0) {
            var idset = set[0].classList.remove("selecionado");
        }
        var idfilho = document.getElementById(valor).value;
        var tamanho = document.getElementById(idfilho);
        tamanho.classList.add("selecionado");

    }
    produto();
    async function produto() {
        const urlParams = new URLSearchParams(window.location.search);
        const CatParam = urlParams.get('id');
        const resposta = await fetch('./apiDetalheProduto?id=' + CatParam);
        const body = await resposta.json();
        let foto = ''

        var float = parseFloat(body[0].preco_produto.toFixed(2));
        // console.log(float);
        var preco = float.toLocaleString('pt-br', {
            minimumFractionDigits: 2
        }); // FORMATA O PREÇO DE INT PARA MOEDA BR

        for (i = 1; i <= body[0].fotos_produto; i++) {
            foto += '<li>'
            foto += '<a href="https://bucketgarb.s3.us-east-2.amazonaws.com/' + body[0].ID + '/produto' + [i] +
                '.png"></a>'
            foto += '<img src="https://bucketgarb.s3.us-east-2.amazonaws.com/' + body[0].ID + '/produto' + [i] +
                '.png" alt="" width="400px" height="450px">'
            foto += '</li>'
        }
        document.getElementById('fotoProduto').innerHTML = foto;

        if (body[0].desconto_produto !== 0) {
            document.getElementById('desconto').innerHTML = body[0].desconto_produto + "% off à vista";
        }

        document.getElementById('subcategoria').innerHTML = body[0].subcategoria_produto;
        document.getElementById('nome').innerHTML = body[0].nome_produto;
        document.getElementById('preco').innerHTML = "R$ " + preco;
        if (body[0].parcelamento_produto) {
            document.getElementById('parcelamento').innerHTML = "ou R$ " + body[0].parcelamento_produto;
        }
        document.getElementById('subcat').innerHTML = "<a  href=/produtos?categoria=" + body[0].categoria_produto +
            ">" + body[0].subcategoria_produto + "</a>";

        var loader = document.getElementById("loader");
        loader.style.display = "none";
        var loader = document.getElementById("prods");
        loader.style.display = "flex";

        const tamanhosDisponiveis = body[0].tamanho_produto;
        if (tamanhosDisponiveis.quantidade_pp < 1) {
            document.getElementById("divPP").style.display = "none";
        }
        if (tamanhosDisponiveis.quantidade_p < 1) {
            document.getElementById("divP").style.display = "none";
        }
        if (tamanhosDisponiveis.quantidade_m < 1) {
            document.getElementById("divM").style.display = "none";
        }
        if (tamanhosDisponiveis.quantidade_g < 1) {
            document.getElementById("divG").style.display = "none";
        }
    }


    async function adicionarCarrinho() {

        const perfil = document.cookie
            .split('; ')
            .find(row => row.startsWith('jwt='))


        if (perfil != undefined) {
            const dados = jwt_decode(perfil);
            const urlParams = new URLSearchParams(window.location.search);
            const IDproduto = urlParams.get('id');
            //const qtdcarrinho = await consultarCarrinho(); // ESPERA A RESPOSTA DA FUNCAO consultarCarrinho()
            const id = dados.sub;
            const data = new Date();
            var dia = String(data.getDate()).padStart(2, '0');
            var mes = String(data.getMonth() + 1).padStart(2, '0');
            var ano = data.getFullYear();
            var hora = data.getHours();
            var min = data.getMinutes();
            var sec = data.getSeconds();
            const dataAtual = dia + mes + ano + hora + min + sec;
            try {

                const data = {
                    ID: dataAtual,
                    ID_produto: parseInt(IDproduto),
                    quantidade_produto: 1,
                    tamanho_produto: "M",
                    ID_cliente: id,
                };

                fetch('./apiAdicionarCarrinho?quantidadeCarrinho=', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                })
                    .then((response) => response.json())
                    //.then(response => console.log(response.status))
                    .then((data) => {
                        console.log("retorno front: " + JSON.stringify(data))
                        const ocultarFormulario = document.getElementById("containerFormulario");
                        ocultarFormulario.style.display = "none";
                    })

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-bottom-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                Command: toastr["success"]("Produto adicionado ao carrinho!")

            } catch (error) {
                console.log(error);
            }
        } else {
            $('html, body').animate({
                scrollTop: $("#menuMobile").offset().top
            }, -1000);
            modal();
            loginmobile();
        }
    }

</script>

</html>