<html lang="pt-br">

<head>
    <!-- These meta tags are Apple-specific, and set the web application to run in full-screen mode with a black status bar. Learn more at https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="PWA Starter" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- This tag is used by the PWA Starter CLI to identify template projects. Don't remove if you are using the CLI. -->
    <meta name="pwa-starter-template-identity" content="pwa-starter" />
    <link rel="apple-touch-icon" href="images/logo1.png">
    <link rel="icon" sizes="196x196" href="images/logo1.png">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <title>Produtos</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style/produtos.css">
    <link rel="stylesheet" href="/css/style/nav.css">
    <link rel="stylesheet" href="/css/style/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include('nav.ejs') %>
        <div class="container-fluid buscaefiltro">
            <div class="row">
                <div class="col-md-6">
                    <div class="buscar">
                        <input id="busca" class="campo" type="text" placeholder="Buscar" name="busca" onkeyup="criarArrayProdutos(this.value)" /><span class="material-icons">search</span>
                    </div>
                    <div class="sugestoes">
                        <ul id="opcoes">

                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="filtragem">
                        <button onclick="abrirfiltros();">Filtros <span class="material-icons">tune</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid filtros" id="filtros">
            <div class="row linhafiltro">
                <div class="col-md-3 quadros">
                    <P>Tamanho</P>
                    <div class="row quadrotamanhos">
                        <div class="col-md-5 quadcentralizar">
                            <span class=" tamanhos " id="tamanhop" onclick="selecionado(id) ">
                                <label for="p" class="tam">
                                    <input id="p" type="radio " name="size" data-testid="product-size-p " class="TextBox__VisuallyHiddenInput-sc-4fb91f0d-2 tamprod " value="tamanhop" >
                                    P
                                </label>
                               </span>
                        </div>
                        <div class="col-md-5">
                            <span class="tamanhos " id="tamanhom" onclick="selecionado(id) ">
                                <label for="m" class="tam ">
                                    <input id="m" type="radio " name="size" data-testid="product-size-p " class="TextBox__VisuallyHiddenInput-sc-4fb91f0d-2 tamprod " value="tamanhom" >
                                    M
                                </label>
                               </span>
                        </div>
                        <div class="col-md-5 quadcentralizar">
                            <span class="tamanhos " id="tamanhog" onclick="selecionado(id) ">
                                <label for="g" class="tam "> 
                                    <input id="g" type="radio " name="size" data-testid="product-size-p " class="TextBox__VisuallyHiddenInput-sc-4fb91f0d-2 tamprod " value="tamanhog">
                                    G
                                </label>
                               </span>
                        </div>
                        <div class="col-md-5 ">
                            <span class="tamanhos " id="tamanhogg" onclick="selecionado(id) ">
                                <label for="gg" class="tam ">
                                    <input id="gg" type="radio " name="size" data-testid="product-size-p " class="TextBox__VisuallyHiddenInput-sc-4fb91f0d-2 tamprod " value="tamanhogg" >
                                    GG
                                </label>
                               </span>
                        </div>
                    </div>
                    <div class="row iconelimpartamanho">
                        <span class="material-icons" onclick="deletartamanho();">delete</span>
                    </div>
                </div>
                <div class="col-md-3 quadros">
                    <P>Preço</P>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="listapreco">
                                <li><label class="sq-radio" id="50" for="ate50" onclick="pegarpreco(id)"><input id="ate50" name="preco" value="50" type="radio">Até R$ 50,00<span class="checkmark"></span></label></li>
                                <li><label class="sq-radio" id="100" for="ate100" onclick="pegarpreco(id)"><input id="ate100" name="preco" value="100" type="radio">Até R$ 100,00 <span class="checkmark"></span></label></li>
                                <li><label class="sq-radio" id="150" for="ate150" onclick="pegarpreco(id)"><input id="ate150" name="preco" value="150" type="radio">Até R$ 150,00<span class="checkmark"></span></label></li>
                                <li><label class="sq-radio" id="200" for="ate200" onclick="pegarpreco(id)"><input id="ate200" name="preco" value="200" type="radio">Até R$ 200,00<span class="checkmark"></span></label></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row iconelimpar">
                        <span class="material-icons" onclick="deletarpreco();">delete</span>
                    </div>
                </div>
                <div class="col-md-3 quadros">
                    <P>Marca</P>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="listamarca">
                                <li><label class="mc-radio" id="nike" for="nk" onclick="pegarmarca(id)"><input id="nk" name="marca" value="Nike" type="radio">Nike<span class="checkmark"></span></label></li>
                                <li><label class="mc-radio" id="adidas" for="ad" onclick="pegarmarca(id)"><input id="ad" name="marca" value="Adidas" type="radio">Adidas<span class="checkmark"></span></label></li>
                                <li><label class="mc-radio" id="lacoste" for="lc" onclick="pegarmarca(id)"><input id="lc" name="marca" value="Lacoste" type="radio">Lacoste<span class="checkmark"></span></label></li>
                                <li><label class="mc-radio" id="garb" for="gb" onclick="pegarmarca(id)"><input id="gb" name="marca" value="Garb" type="radio">Garb<span class="checkmark"></span></label></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row iconelimpar">
                        <span class="material-icons" onclick="deletarmarca();">delete</span>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <P>Categoria</P>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="listacategoria">
                                <li><label class="ct-radio" id="Calças" for="calcas" onclick="pegarcategoria(id)"><input id="calcas" name="categoria" value="Calças" type="radio">Calças<span class="checkmark"></span></label></li>
                                <li><label class="ct-radio" id="Blusas" for="blusas" onclick="pegarcategoria(id)"><input id="blusas" name="categoria" value="Blusas" type="radio">Blusas<span class="checkmark"></span></label></li>
                                <li><label class="ct-radio" id="Camisetas" for="camisetas" onclick="pegarcategoria(id)"><input id="camisetas" name="categoria" value="Camisetas" type="radio">Camisetas<span class="checkmark"></span></label></li>
                                <li><label class="ct-radio" id="Shorts" for="shorts" onclick="pegarcategoria(id)"><input id="shorts" name="categoria" value="Shorts" type="radio">Shorts<span class="checkmark"></span></label></li>
                                <li><label class="ct-radio" id="Meias" for="meias" onclick="pegarcategoria(id)"><input id="meias" name="categoria" value="Meias" type="radio">Meias<span class="checkmark"></span></label></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row iconelimpar">
                        <span class="material-icons" onclick="deletarsubcategoria();">delete</span>
                    </div>
                </div>
            </div>
            <div class="row linhabotoesfiltros">
                <div class="col-4 quadrolimpar">
                    <button onclick="limpar();">Limpar</button>
                </div>
                <div class="col-4 quadrofechar">
                    <span class="material-icons" onclick="fecharfiltros();">keyboard_control_key</span>
                </div>
                <div class="col-4 quadroatualizar">
                    <button onclick="filtro();">Atualizar</button>
                </div>
            </div>
        </div>
        <div class="container-fluid produtos">
            <div class="row loader" id="loader">
                <div class="c-loader"></div>
            </div>
            <div class="row" id="prods">
                <!-- <div class="col-6 col-md-3 quadproduto">
                    <a href="/produto?id=0001"><img src="/images/produto1.png" alt="produto1">
                        <h2 class="nomeproduto">Camiseta Nike Sportswear Club Masculina </h2>
                        <p class="precoproduto">R$ 99,99</p>
                        <p class="descontoproduto">17% off</p>
                    </a>
                </div>
               <div class="col-6 col-md-3 quadproduto">
                    <a href="/produto"><img src="/images/produto2.png" alt="produto2">
                        <h2 class="nomeproduto">Camiseta Nike Sportswear Club Masculina Poá</h2>
                        <p class="precoproduto">R$ 99,99</p>
                        <p class="parcelaproduto">ou 6x de R$ 66,67</p>
                    </a>
                </div>
                <div class="col-6 col-md-3 quadproduto">
                    <a href="/produto"><img src="/images/produto3.png" alt="produto3">
                        <h2 class="nomeproduto">Bermuda Lacoste MH9661</h2>
                        <p class="precoproduto">R$ 490,00</p>
                        <p class="descontoproduto">17% off à vista</p>
                        <p class="parcelaproduto">ou 10x de R$ 49,00</p>
                    </a>
                </div>
                <div class="col-6 col-md-3 quadproduto">
                    <a href="/produto"><img src="/images/modelo1.png" alt="produto1">
                        <h2 class="nomeproduto">Camiseta Nike Sportswear Club Masculina </h2>
                        <p class="precoproduto">R$ 99,99</p>
                        <p class="descontoproduto">17% off</p>
                    </a>
                </div>
                <div class="col-6 col-md-3 quadproduto">
                    <a href="/produto"><img src="/images/produto4.png" alt="produto1">
                        <h2 class="nomeproduto">Calça de Brigo Lacoste</h2>
                        <p class="precoproduto">R$ 690,00</p>
                        <p class="parcelaproduto">ou 10x de R$ 69,00</p>
                    </a>
                </div>
                <div class="col-6 col-md-3 quadproduto">
                    <a href="/produto"><img src="/images/produto5.png" alt="produto1">
                        <h2 class="nomeproduto">Bermuda Diesel</h2>
                        <p class="precoproduto">R$ 695,00</p>
                        <p class="descontoproduto">20% off à vista</p>
                        <p class="parcelaproduto">ou 10x de R$ 69,50</p>
                    </a>
                </div> -->
            </div>
        </div>
        <%- include('footer.ejs') %>
</body>
<script>
    function selecionado(valor) {
        var set = document.getElementsByClassName("selecionado");
        if (set.length != 0) {
            var idset = set[0].classList.remove("selecionado");
        }
        var idfilho = document.getElementById(valor);
        valor_tamanho = idfilho;
        idfilho.classList.add("selecionado");

    }


    function pegarpreco(id) {
        var set = document.getElementsByClassName("precoselecionado");
        if (set.length != 0) {
            var idset = set[0].classList.remove("precoselecionado");
        }
        var idfilho = document.getElementById(id);
        idfilho.classList.add("precoselecionado");
    }

    function pegarmarca(id) {
        var set = document.getElementsByClassName("marcaselecionada");
        if (set.length != 0) {
            var idset = set[0].classList.remove("marcaselecionada");
        }
        var idfilho = document.getElementById(id);
        idfilho.classList.add("marcaselecionada");

    }

    function pegarcategoria(id) {
        var set = document.getElementsByClassName("categoriaselecionada");
        if (set.length != 0) {
            var idset = set[0].classList.remove("categoriaselecionada");
        }
        var idfilho = document.getElementById(id);
        idfilho.classList.add("categoriaselecionada");

    }

    function abrirfiltros() {
        var filtro = document.getElementById("filtros");
        if (window.matchMedia("(max-width: 730px").matches) {
            filtro.style.top = "12.5em";
        } else {
            filtro.style.top = "9.5em";
        }

    }

    function fecharfiltros() {
        var filtro = document.getElementById("filtros");
        if (window.matchMedia("(max-width: 730px").matches) {
            filtro.style.top = "-80em";
        } else {
            filtro.style.top = "-35em";
        }
    }
    carregarProdutos()
    async function carregarProdutos() {
        const urlParams = new URLSearchParams(window.location.search);
        const CatParam = urlParams.get('categoria');
        const resposta = await fetch('./apiProdutos?categoria=' + CatParam);
        const body = await resposta.json();
        const tam = body.length;
        let html = '';
        for (let i = 0; i <= tam - 1; i++) {
            var float = parseFloat(body[i].preco_produto.toFixed(2));
            //console.log(float);
            var preco = float.toLocaleString('pt-br', {
                minimumFractionDigits: 2
            }); // FORMATA O PREÇO DE INT PARA MOEDA BR
            if (body[i].tamanho_produto.quantidade_p == 0 && body[i].tamanho_produto.quantidade_m == 0) {
                html += '';
            } else {
                html += '<div class="col-6 col-md-3 quadproduto">';
                html += '<a href="/produto?id=' + body[i].ID + '"><img src="https://bucketgarb.s3.us-east-2.amazonaws.com/' + body[i].ID + '/produto1.png" alt="produto1">';
                html += '<p class=codProduto>CÓD. ' + body[i].ID + '</p>'
                html += '<h2 class="nomeproduto">' + body[i].nome_produto + '</h2>';
                html += '<p class="precoproduto">R$ ' + preco + '</p>';
                if (body[i].desconto_produto != 0) {
                    html += '<p class="descontoproduto">' + body[i].desconto_produto + '% off</p>';
                }
                if (body[i].parcelamento_produto != "") {
                    html += '<p class="parcelaproduto">ou ' + body[i].parcelamento_produto + '</p>';
                }
                html += '</a>';
                html += '</div>';
            }
        }
        document.getElementById('prods').innerHTML = html;
        var loader = document.getElementById("loader");
        loader.style.display = "none";
        var loader = document.getElementById("prods");
        loader.style.display = "flex";

    }

    function deletarpreco() {
        var ele = document.getElementsByName('preco');
        for (var i = 0; i < ele.length; i++) {
            ele[i].checked = false;
        }
        var set = document.getElementsByClassName("precoselecionado");
        if (set.length != 0) {
            var idset = set[0].classList.remove("precoselecionado");
        }
    }

    function deletartamanho() {
        var ele = document.getElementsByName('selecionado');
        for (var i = 0; i < ele.length; i++) {
            ele[i].checked = false;
        }
        var set = document.getElementsByClassName("selecionado");
        if (set.length != 0) {
            var idset = set[0].classList.remove("selecionado");
        }
    }

    function deletarmarca() {
        var ele = document.getElementsByName('marca');
        for (var i = 0; i < ele.length; i++) {
            ele[i].checked = false;
        }
        var set = document.getElementsByClassName("marcaselecionada");
        if (set.length != 0) {
            var idset = set[0].classList.remove("marcaselecionada");
        }
    }

    function deletarsubcategoria() {
        var ele = document.getElementsByName('categoria');
        for (var i = 0; i < ele.length; i++) {
            ele[i].checked = false;
        }
        var set = document.getElementsByClassName("categoriaselecionada");
        if (set.length != 0) {
            var idset = set[0].classList.remove("categoriaselecionada");
        }
    }

    function limpar() {
        deletartamanho();
        deletarpreco();
        deletarsubcategoria();
        deletarmarca();
        carregarProdutos();
        fecharfiltros();
    }

    async function filtro() {

        if (typeof valor_tamanho != 'undefined') {
            var valor_tam = valor_tamanho.id
        }
        if (valor_tam == "tamanhop") {
            var tamanho_produto = "p";
        } else if (valor_tam == "tamanhom") {
            var tamanho_produto = "m";
        } else if (valor_tam == "tamanhog") {
            var tamanho_produto = "g";
        } else if (valor_tam == "tamanhogg") {
            var tamanho_produto = "gg";
        }


        var preço = document.getElementsByName('preco');
        for (var i = 0; i < preço.length; i++) {
            if (preço[i].checked) {
                if (preço[i].value == "50") {
                    var preco_produto = 50;
                } else if (preço[i].value == "100") {
                    var preco_produto = 100;
                } else if (preço[i].value == "150") {
                    var preco_produto = 150;
                } else if (preço[i].value == "200") {
                    var preco_produto = 200;
                }
            }
        }

        var marca = document.getElementsByName('marca');
        for (var i = 0; i < marca.length; i++) {
            if (marca[i].checked) {
                if (marca[i].value == "Nike") {
                    var marca_produto = "Nike";
                } else if (marca[i].value == "Adidas") {
                    var marca_produto = "Adidas";
                } else if (marca[i].value == "Lacoste") {
                    var marca_produto = "Lacoste";
                } else if (marca[i].value == "Garb") {
                    var marca_produto = "Garb";
                }
            }
        }

        var categoria = document.getElementsByName('categoria');
        for (var i = 0; i < categoria.length; i++) {
            if (categoria[i].checked) {
                if (categoria[i].value == "Calças") {
                    var categoria_produto = "Calças";
                } else if (categoria[i].value == "Blusas") {
                    var categoria_produto = "Blusas";
                } else if (categoria[i].value == "Camisetas") {
                    var categoria_produto = "Camisetas";
                } else if (categoria[i].value == "Shorts") {
                    var categoria_produto = "Shorts";
                } else if (categoria[i].value == "Meias") {
                    var categoria_produto = "Meias";
                }
            }
        }
        const urlParams = new URLSearchParams(window.location.search);
        var CatParam = urlParams.get('categoria');
        const resposta = await fetch('./apiFiltro?categoria=' + CatParam + '&tamanho=' + tamanho_produto + '&preco=' + preco_produto + '&marca=' + marca_produto + '&subcategoria=' + categoria_produto);
        const body = await resposta.json();


        const tam = body.length;
        let html = '';
        for (let i = 0; i <= tam - 1; i++) {
            var float = parseFloat(body[i].preco_produto.toFixed(2));
            // console.log(float);
            var preco = float.toLocaleString('pt-br', {
                minimumFractionDigits: 2
            }); // FORMATA O PREÇO DE INT PARA MOEDA BR
            if (body[i].tamanho_produto.quantidade_p == 0 && body[i].tamanho_produto.quantidade_m == 0) {
                html += '';
            } else {
                html += '<div class="col-6 col-md-3 quadproduto">';
                html += '<a href="/produto?id=' + body[i].ID + '"><img src="https://bucketgarb.s3.us-east-2.amazonaws.com/' + body[i].ID + '/produto1.png" alt="produto1">';
                html += '<p class=codProduto>CÓD. ' + body[i].ID + '</p>'
                html += '<h2 class="nomeproduto">' + body[i].nome_produto + '</h2>';
                html += '<p class="precoproduto">R$ ' + preco + '</p>';
                if (body[i].desconto_produto != 0) {
                    html += '<p class="descontoproduto">' + body[i].desconto_produto + '% off</p>';
                }
                if (body[i].parcelamento_produto != "") {
                    html += '<p class="parcelaproduto">ou ' + body[i].parcelamento_produto + '</p>';
                }
                html += '</a>';
                html += '</div>';
            }
        }
        document.getElementById('prods').innerHTML = html;
        fecharfiltros();
    }

    //  FUNÇÃO CRIA UM ARRAY DE NOMES PARA BUSCA
    criarArrayProdutos();
    async function criarArrayProdutos() {
        const urlParams = new URLSearchParams(window.location.search);
        const CatParam = urlParams.get('categoria');
        const resposta = await fetch('./apiProdutos?categoria=' + CatParam);
        const body = await resposta.json();

        const tam = body.length;
        let nomes = '';
        for (let i = 0; i <= tam - 1; i++) {
            nomes += body[i].nome_produto + ",";
        }
        string = nomes.split(',');
        string.pop();
        console.log(string);

    }

    function autoComplete(cidade) {

        const destino = string;
        return destino.filter((valor) => {
            const valorMinusculo = valor.toLowerCase()
            const cidadeMinusculo = cidade.toLowerCase()

            return valorMinusculo.includes(cidadeMinusculo)
        })
    }
    const campo = document.querySelector('.campo')
    const sugestoes = document.querySelector('.sugestoes')

    campo.addEventListener('input', ({
        target
    }) => {
        const dadosDoCampo = target.value
        if (dadosDoCampo.length) {
            const autoCompleteValores = autoComplete(dadosDoCampo)
            const tamProd = autoCompleteValores.length;
            let busca = '';
            for (let i = 0; i <= tamProd; i++) {
                if (autoCompleteValores[i] != undefined) {
                    busca += '<li id="' + autoCompleteValores[i] + '" onclick="buscaproduto(id);">' + autoCompleteValores[i] + '</li>'
                }

            }
            document.getElementById('opcoes').innerHTML = busca;
        }

    })

    async function buscaproduto(produto) {
        document.getElementById('busca').placeholder = produto;
        document.getElementById('busca').value = "";
        const resposta = await fetch('./apiBusca?nome=' + produto);
        const body = await resposta.json();


        const tam = body.length;
        let html = '';
        for (let i = 0; i <= tam - 1; i++) {
            var float = parseFloat(body[i].preco_produto.toFixed(2));
            // console.log(float);
            var preco = float.toLocaleString('pt-br', {
                minimumFractionDigits: 2
            }); // FORMATA O PREÇO DE INT PARA MOEDA BR
            if (body[i].tamanho_produto.quantidade_p == 0 && body[i].tamanho_produto.quantidade_m == 0) {
                html += '';
            } else {
                html += '<div class="col-6 col-md-3 quadproduto">';
                html += '<a href="/produto?id=' + body[i].ID + '"><img src="https://bucketgarb.s3.us-east-2.amazonaws.com/' + body[i].ID + '/produto1.png" alt="produto1">';
                html += '<p class=codProduto>CÓD. ' + body[i].ID + '</p>'
                html += '<h2 class="nomeproduto">' + body[i].nome_produto + '</h2>';
                html += '<p class="precoproduto">R$ ' + preco + '</p>';
                if (body[i].desconto_produto != 0) {
                    html += '<p class="descontoproduto">' + body[i].desconto_produto + '% off</p>';
                }
                if (body[i].parcelamento_produto != "") {
                    html += '<p class="parcelaproduto">ou ' + body[i].parcelamento_produto + '</p>';
                }
                html += '</a>';
                html += '</div>';
            }
        }
        document.getElementById('prods').innerHTML = html;
        document.getElementById('opcoes').innerHTML = '';
    }
</script>

</html>