footer {
    background-color: #27a71f;
    height: auto;
}

footer p {
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 0.7rem;
}

.linhaquemsomos {
    padding: 2em;
}

.linhaquemsomos h2 {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Arimo', sans-serif;
}

.quemsomos {
    color: white;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Arimo', sans-serif;
    cursor: pointer;
}

.quemsomos:hover {
    color: black;
}

footer ul {
    list-style: none;
}