.menu {
    background-color: #27A71F;
}

.logo {
    display: flex;
    justify-content: center;
}

.submenu {
    display: none;
}

.principalMenu {
    display: flex;
    list-style: none;
}

.principalMenu li {
    font-family: 'Arimo', sans-serif;
    height: 50px;
    padding-bottom: 3.5em;
}

.principalMenu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 2rem 3rem;
    position: relative;
    top: 20px;
}

.principalMenu li:hover ul {
    display: block;
}

.principalMenu li:hover>a {
    color: black;
}

.submenu {
    background-color: #27A71F;
    display: none;
    list-style: none;
    flex-direction: row;
    top: 3em;
    position: absolute;
    z-index: 4;
}

.submenu li:hover a {
    color: black;
}

.iconeMenu {
    display: none;
}

.menuMobile {
    display: none;
}

@media screen and (max-width: 730px) {
    .main_list {
        display: none;
    }
    .logo {
        display: block;
    }
    .iconeMenu {
        display: flex;
        flex-direction: row-reverse;
        align-content: center;
        flex-wrap: wrap;
        height: 4em;
    }
    .iconeMenu span {
        font-size: 2em;
        color: white;
    }
    .menuMobile {
        width: 60%;
        list-style: none;
        position: absolute;
        background-color: #000000ed;
        top: 0;
        right: 600;
        padding-top: 2em;
        z-index: 5;
        padding-bottom: 1em;
        border: 1px solid black;
        height: 100%;
        display: block;
        transition: all 1s ease;
    }
    .menuMobile li {
        font-family: 'Arimo', sans-serif;
        padding-right: 2em;
        padding-bottom: 1em;
    }
    .menuMobile a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    .menuMobile span {
        color: #27A71F;
    }
}