.menu {
    background-color: #27A71F;
}

.logo {
    display: flex;
    justify-content: center;
}

.submenu {
    display: none;
}

.principalMenu {
    display: flex;
    list-style: none;
}

.principalMenu li {
    font-family: 'Arimo', sans-serif;
    height: 50px;
    padding-bottom: 3.5em;
}

.principalMenu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 2rem 3rem;
    position: relative;
    top: 20px;
}

.principalMenu li:hover ul {
    display: block;
}

.principalMenu li:hover>a {
    color: black;
}

.submenu {
    background-color: #27A71F;
    display: none;
    list-style: none;
    flex-direction: row;
    top: 3em;
    position: absolute;
    z-index: 4;
}

.submenu li:hover a {
    color: black;
}

.iconeMenu {
    display: none;
}

.menuSmartphone {
    display: none;
}

.menuMobile {
    display: none;
}

.car {
    margin-left: 7em;
}

.car span {
    color: white;
    font-size: 2.5em;
    top: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
}

.car span:hover {
    cursor: pointer;
    color: black;
}

.car:hover {
    color: black;
}

.perfil span {
    color: white;
    font-size: 2.5em;
    top: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
}

.perfil span:hover {
    cursor: pointer;
    color: black;
}

.perfil:hover {
    color: black;
}

#imagemperfil {
    display: flex;
    justify-content: left;
}

#imagemperfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 4.5em;
    position: absolute;
    top: 1.1em;
    cursor: pointer;
}

#imagemperfilmobile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 1em;
    position: absolute;
    top: 1em;
    cursor: pointer;
}

.abaperfil {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #27a71f;
    right: 30px;
    top: 4.5em;
    padding: 1em 1em;
    z-index: 6;
    border-radius: 0 0 1em 1em;
    opacity: 0;
    transition: 1s all ease;
}

.abaperfil a {
    text-decoration: none;
    color: white;
}

.abaperfil a:hover {
    color: black;
}

.botaologin {
    right: 0.5em;
    position: absolute;
    top: 5em;
    opacity: 0;
    transition: 1s all ease;
    width: 18%;
}

.fecharperfil {
    font-size: 1.2em !important;
}

.nsm7Bb-HzV7m-LgbsSe.MFS4be-JaPV2b-Ia7Qfc {
    font-size: 0.25em !important;
}

.fecharabaperfillogin {
    color: black !important;
    font-size: 1.5em !important;
    position: absolute !important;
    left: -1em !important;
    top: -0.5em !important;
}

@media screen and (max-width: 730px) {
    .menuDesktop {
        display: none;
    }
    .menuSmartphone {
        display: flex;
    }
    .main_list {
        display: none;
    }
    .logo {
        display: block;
    }
    .iconeMenu {
        display: flex;
        flex-direction: row;
        height: 4em;
    }
    .iconeMenu span {
        font-size: 2.5em;
        color: white;
        padding-top: 0.5em;
    }
    .menuMobile {
        width: 60%;
        list-style: none;
        position: absolute;
        background-color: #000000ed;
        top: 0;
        left: -30em;
        padding-top: 2em;
        z-index: 5;
        padding-bottom: 1em;
        border: 1px solid black;
        height: 100%;
        display: block;
        transition: all 1s ease;
    }
    .menuMobile li {
        font-family: 'Arimo', sans-serif;
        padding-right: 2em;
        padding-bottom: 1em;
    }
    .menuMobile a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    .menuMobile span {
        color: #27A71F;
    }
    .car span {
        color: white;
        font-size: 3.5em;
        top: 0.5em;
        margin-top: 0.2em;
        margin-left: 0em;
    }
    .car {
        margin-left: 0;
    }
    .botaologinmobile {
        position: absolute;
        right: 0em;
        top: 5em;
        opacity: 0;
        transition: 1s all ease;
    }
    .fecharabaperfilmobile {
        font-size: 1.3em !important;
        margin-top: 0 !important;
        position: absolute !important;
        color: black !important;
        /* right: -0.3em; */
        left: -1.2em !important;
        top: 0.2em !important;
    }
}