.menu {
    background-color: #27A71F;
}

.logo {
    display: flex;
    justify-content: center;
}

.submenu {
    display: none;
}

.principalMenu {
    display: flex;
    list-style: none;
}

.principalMenu li {
    font-family: 'Arimo', sans-serif;
    height: 50px;
    padding-bottom: 3.5em;
}

.principalMenu li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 2rem 3rem;
    position: relative;
    top: 20px;
}

.principalMenu li:hover ul {
    display: block;
}

.principalMenu li:hover>a {
    color: black;
}

.submenu {
    background-color: #27A71F;
    display: none;
    list-style: none;
    flex-direction: row;
    top: 3em;
    position: absolute;
    z-index: 4;
}

.submenu li:hover a {
    color: black;
}

.iconeMenu {
    display: none;
}

.menuSmartphone {
    display: none;
}

.menuMobile {
    display: none;
}

.car {
    margin-left: 7em;
    display: flex;
    justify-content: flex-end;
}

.car span {
    color: white;
    font-size: 2.5em;
    top: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
}

.car span:hover {
    cursor: pointer;
    color: black;
}

.car:hover {
    color: black;
}

.perfil span {
    color: white;
    font-size: 2.5em;
    top: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
}

.perfil span:hover {
    cursor: pointer;
    color: black;
}

.perfil:hover {
    color: black;
}

#imagemperfil {
    display: flex;
    justify-content: left;
}

#imagemperfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 4.5em;
    position: absolute;
    top: 1.1em;
    cursor: pointer;
}

#imagemperfilmobile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    right: 1em;
    position: absolute;
    top: 1em;
    cursor: pointer;
}

.abaperfil {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #27a71f;
    right: 30px;
    top: 4.5em;
    padding: 1em 1em;
    z-index: 6;
    border-radius: 0 0 1em 1em;
    opacity: 0;
    transition: 1s all ease;
}

.abaperfil a {
    text-decoration: none;
    color: white;
}

.abaperfil a:hover {
    color: black;
}

.botaologin {
    right: 0.5em;
    position: absolute;
    top: 5em;
    opacity: 0;
    transition: 1s all ease;
    width: 18%;
}

.fecharperfil {
    font-size: 1.2em !important;
}

.nsm7Bb-HzV7m-LgbsSe.MFS4be-JaPV2b-Ia7Qfc {
    font-size: 0.25em !important;
}

.fecharabaperfillogin {
    color: black !important;
    font-size: 1.5em !important;
    position: absolute !important;
    left: -1em !important;
    top: -0.5em !important;
}


/* Formulario */

#containerFormulario {
    width: 100%;
    position: absolute;
    display: none;
    justify-content: center;
    /* background: black; */
    background-color: #000000bf;
    height: 110em;
    z-index: -10;
    opacity: 0;
    transition: 1s all ease;
}

.form {
    width: 40em;
    background: linear-gradient(180deg, rgba(3, 25, 6, 1) 0%, rgba(3, 66, 9, 1) 78%, rgba(0, 150, 6, 1) 100%);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    z-index: 10;
    margin-top: 5em;
}

.form h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    color: white;
    border-bottom: 3px solid white
}

.form h3 {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 3px solid white;
    font-size: 1.5em;
    margin-top: 3em;
    color: white;
}

.form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid white;
    color: white;
}

.form input:focus {
    border-bottom: 2px solid #78788c
}

.form p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: white
}

.cadastrar {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 0.15em solid white;
    background: 0;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    transition: all .3s;
    font-weight: 600;
}

.cadastrar:hover {
    background: rgba(3, 25, 6, 1);
    color: white;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.cancelar {
    float: left;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 0.15em solid red;
    background: #af0808f7;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    transition: all .3s;
    font-weight: 600;
}

.cancelar:hover {
    background: rgb(88, 2, 2);
    color: white;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#cpf::placeholder {
    color: var(--color);
}

#data::placeholder {
    color: var(--color);
}

#rua::placeholder {
    color: var(--color);
}

#numero::placeholder {
    color: var(--color);
}

#telefone::placeholder {
    color: var(--color);
}

#cep::placeholder {
    color: var(--color);
}

#cidade::placeholder {
    color: var(--color);
}

#uf::placeholder {
    color: var(--color);
}

@media screen and (max-width: 730px) {
    .menuDesktop {
        display: none;
    }
    .menuSmartphone {
        display: flex;
    }
    .main_list {
        display: none;
    }
    .logo {
        display: block;
    }
    .iconeMenu {
        display: flex;
        flex-direction: row;
        height: 4em;
    }
    .iconeMenu span {
        font-size: 2.5em;
        color: white;
        padding-top: 0.5em;
    }
    .menuMobile {
        width: 60%;
        list-style: none;
        position: absolute;
        background-color: #000000ed;
        top: 0;
        left: -30em;
        padding-top: 2em;
        z-index: 5;
        padding-bottom: 1em;
        border: 1px solid black;
        height: 100%;
        display: block;
        transition: all 1s ease;
    }
    .menuMobile li {
        font-family: 'Arimo', sans-serif;
        padding-right: 2em;
        padding-bottom: 1em;
    }
    .menuMobile a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    .menuMobile span {
        color: #27A71F;
    }
    .car span {
        color: white;
        font-size: 2.5em;
        top: 0.5em;
        margin-top: 0.5em;
        margin-left: 0em;
    }
    .car {
        margin-left: 0;
    }
    .botaologinmobile {
        position: absolute;
        right: 0em;
        top: 5em;
        opacity: 0;
        transition: 1s all ease;
    }
    .fecharabaperfilmobile {
        font-size: 1.3em !important;
        margin-top: 0 !important;
        position: absolute !important;
        color: black !important;
        /* right: -0.3em; */
        left: -1.2em !important;
        top: 0.2em !important;
    }
    .abaperfil {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #27a71f;
        right: 0;
        top: 4.5em;
        padding: 1em 1em;
        z-index: 6;
        border-radius: 0 0 1em 1em;
        opacity: 0;
        transition: 1s all ease;
    }
}