.cabecalho {
    margin-top: 2em;
    margin-left: 3em;
}

.cabecalho img {
    border-radius: 50%;
    width: 70px;
    margin-top: 1em;
    /* display: flex; */
    /* justify-content: center; */
    margin-left: 2em;
    box-shadow: 1px 8px 20px 2px #010e04;
}

.nome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding-top: 1em;
    margin-left: 1em;
    text-shadow: 5px 2px 9px #1e6e0a;
}

.tabelaperfil {
    width: 70%;
    margin: auto;
    margin-top: 2em;
}

.tabelaperfil p {
    width: 100%;
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    background-color: #27a71f6e;
    padding: 0.5em 4em;
    text-align: center;
    color: white;
    user-select: none;
    border-radius: 0 2em 0 2em;
}

.listaperfil {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.listaperfil li {
    cursor: pointer;
}

.ativo {
    background-color: #27a71f !important;
    color: black !important;
    border: 1px solid black;
    box-shadow: -7px 3px 16px 6px #010e04;
}

.dados,
.endereco {
    border-right: 2px solid #d9d9d9;
}

.enderecoPerfil {
    display: none;
}

.dadosPerfil span,
.enderecoPerfil span {
    top: 1em;
    position: relative;
    left: 1.5em;
}

.cpficon {
    position: relative !important;
    left: -8em !important;
    font-size: 2em !important;
}

.numbericon {
    top: 0.83em !important;
    position: relative !important;
    left: 0.8em !important;
    font-size: 2.5em !important;
}

.pedidosPerfil {
    display: none;
}

.dadosPerfil,
.enderecoPerfil,
.pedidosPerfil {
    width: 61%;
    margin: auto;
    background-color: #3fbc5d;
    margin-left: 14.9em;
    margin-top: -1em;
    padding-top: 2em;
    padding-bottom: 7em;
    margin-bottom: 7em;
    border-radius: 1em;
    border: 1px solid #27a71f;
    box-shadow: 0px 4px 12px 11px #010e04;
}

.dadosPerfil p,
.enderecoPerfil p,
.pedidosPerfil p {
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: white;
    margin-left: 4em;
    width: 80%;
    border-bottom: dashed;
    cursor: default;
}

.pedido {
    border-bottom: 2px solid #737373;
    margin-bottom: 1em;
}

.dataPedido {
    color: #4e4e4e !important;
    font-weight: 600 !important;
}

.valorPedido {
    color: #4e4e4e !important;
    font-weight: 100 !important;
    font-family: Arial, Helvetica, sans-serif !important;
}

@media screen and (max-width: 730px) {
    .cabecalho {
        margin-top: 2em;
        margin-left: -1em;
        width: 100%;
    }
    .cabecalho img {
        border-radius: 50%;
        width: 3em;
        margin-top: 1.5em;
        /* display: flex; */
        /* justify-content: center; */
        margin-left: 3em;
        box-shadow: 1px 8px 20px 2px #010e04;
    }
    .listaperfil {
        list-style: none;
        display: block;
    }
    .tabelaperfil {
        width: 100%;
        margin: auto;
        margin-top: 2em;
    }
    .dadosPerfil,
    .enderecoPerfil,
    .pedidosPerfil {
        width: 100%;
        margin: auto;
        background-color: #3fbc5d;
        /* margin-left: 14.9em; */
        /* margin-top: -2em; */
        padding-top: 2em;
        padding-bottom: 7em;
        margin-bottom: 7em;
        box-shadow: 0px 4px 12px 11px #010e04;
    }
    .nome {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        padding-top: 1.5em;
        margin-left: 3.5em;
    }
    .dadosPerfil p,
    .enderecoPerfil p,
    .pedidosPerfil p {
        width: 75%;
    }
}