body {
    overflow-x: hidden
    /* TRAVA O SCROLL DA PAGINA*/
}

body::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #3636363a;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #c08e0471;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    border: 3px solid #fff;
    /* creates padding around scroll thumb */
}

.loader {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    transform: scale(3);
}

.c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #27a71f;
    height: 50px;
    width: 50px;
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

.linhaProduto {
    display: none;
}

.produto {
    width: 100%;
}

.produto ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.produto ul li a {
    color: rgb(115, 115, 115);
    font-size: 16px;
}

.produto nav {
    padding-top: 2em;
}

.produto ol {
    list-style: none;
    display: flex;
}

.produto li {
    margin-right: 0.70em;
}

.produto ol li a {
    color: rgb(115, 115, 115);
    text-decoration: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    background: none;
    border: 0px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    cursor: pointer;
    line-height: 1.5;
    outline: none;
}

.produto ol li svg {
    color: rgb(115, 115, 115);
    font-size: 16rem;
    margin-left: 0rem;
    width: 30px;
    height: 21px;
}

.descricao p {
    font-size: 0.8em;
}

.descricao h1 {
    font-size: 1.5em;
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(17, 17, 17);
}

.descricao h2 {
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: rgb(17, 17, 17);
    font-size: 1.2rem;
}

.descricao h3 {
    font-family: 'Arimo', sans-serif;
    color: #B51125;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

#desconto {
    color: #7DE64B;
    font-size: 1em;
    margin-bottom: 0.3em;
    font-weight: 400;
}

.tamprod {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    margin: 0px;
    opacity: 0;
    padding: 0px;
    position: absolute;
    z-index: 1;
    border: none;
    cursor: inherit;
}

.esgotado {
    width: 100%;
    opacity: 0.3;
    background: linear-gradient(to right top, rgb(214, 214, 214) calc(50% - 1px), rgb(115, 115, 115), rgb(214, 214, 214) calc(50% + 1px));
}

.tamanhos {
    background: rgb(255, 255, 255);
    padding: 1rem;
    box-sizing: border-box;
    border: 2px solid rgb(214, 214, 214);
    border-radius: 0.7rem;
    color: rgb(17, 17, 17);
    font-family: 'Arimo', sans-serif;
    font-size: 1rem;
    line-height: 1;
    font-weight: 550;
    text-transform: uppercase;
    text-align: center;
    overflow-wrap: break-word;
    display: inline-flex;
    vertical-align: middle;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
    cursor: pointer;
    width: 100%;
    margin-top: 0.5rem;
}

.tamanhos label {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    cursor: inherit;
}

.tamanhos:hover {
    border-color: #363636;
    font-weight: 600;
}

.selecionado {
    border-color: #363636;
}

.addcarrinho {
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 1em;
    background-color: #1d221d;
    /* padding: 0.5em 4em; */
    text-align: center;
    color: white;
    user-select: none;
    border-radius: 0 2em 0 2em;
    box-shadow: 2px 1px 20px black;
}

.addcarrinho:hover {
    color: white;
    box-shadow: 1px 0px 12px 7px #266e09;
    border: 2px solid #5b6059;
    background: radial-gradient(circle, rgba(70, 60, 60, 1) 0%, rgba(72, 98, 78, 1) 68%, rgba(33, 70, 44, 1) 100%);
    border-radius: 0 2em;
    transition: 0.5s all ease;
}

.comprar {
    text-decoration: none;
    padding: 1rem 4.5rem;
    font-family: 'Arimo', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    background-color: #28a71f;
    /* padding: 0.5em 4em; */
    text-align: center;
    color: white;
    user-select: none;
    border-radius: 0 2em 0 2em;
    box-shadow: 2px 1px 20px black;
}

.comprar:hover {
    color: white;
    box-shadow: 1px 0px 12px 7px #266e09;
    border: 2px solid #5b6059;
    background: radial-gradient(circle, rgba(2, 55, 4, 1) 15%, rgba(3, 73, 5, 1) 46%, rgba(3, 97, 6, 1) 68%, rgba(0, 148, 6, 1) 100%);
    border-radius: 0 2em;
    transition: 0.5s all ease;
}

.linhaComprar {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width:730px) {
    .produto img {
        margin-left: -2.5em;
        margin-bottom: 1em;
    }
}